<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CbibMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.Cbib">
    <id column="CBIB01" jdbcType="INTEGER" property="cbib01" />
    <result column="CBIB02" jdbcType="INTEGER" property="cbib02" />
    <result column="CBIB03" jdbcType="VARCHAR" property="cbib03" />
    <result column="CBIB04" jdbcType="TIMESTAMP" property="cbib04" />
    <result column="CBIB05" jdbcType="VARCHAR" property="cbib05" />
    <result column="CBIB06" jdbcType="VARCHAR" property="cbib06" />
    <result column="CBIB07" jdbcType="INTEGER" property="cbib07" />
    <result column="CBIB08" jdbcType="INTEGER" property="cbib08" />
    <result column="CBIB09" jdbcType="DOUBLE" property="cbib09" />
    <result column="CBIB10" jdbcType="DOUBLE" property="cbib10" />
    <result column="CBIB11" jdbcType="DOUBLE" property="cbib11" />
    <result column="CBIB12" jdbcType="DOUBLE" property="cbib12" />
    <result column="CBIB13" jdbcType="DOUBLE" property="cbib13" />
    <result column="CBIB14" jdbcType="DOUBLE" property="cbib14" />
    <result column="CBIB15" jdbcType="DOUBLE" property="cbib15" />
    <result column="CBIB16" jdbcType="DOUBLE" property="cbib16" />
    <result column="CBIB17" jdbcType="VARCHAR" property="cbib17" />
    <result column="CBIB18" jdbcType="INTEGER" property="cbib18" />
    <result column="CBIB19" jdbcType="INTEGER" property="cbib19" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CBIB01, CBIB02, CBIB03, CBIB04, CBIB05, CBIB06, CBIB07, CBIB08, CBIB09, CBIB10, CBIB11,
    CBIB12, CBIB13, CBIB14, CBIB15, CBIB16, CBIB17, CBIB18, CBIB19
  </sql>
  <select id="selectByExample" parameterType="com.ruoyi.system.domain.CbibCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `cbib`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `cbib`
    where CBIB01 = #{cbib01,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `cbib`
    where CBIB01 = #{cbib01,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ruoyi.system.domain.CbibCriteria">
    delete from `cbib`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ruoyi.system.domain.Cbib">
    insert into `cbib` (CBIB01, CBIB02, CBIB03,
      CBIB04, CBIB05, CBIB06,
      CBIB07, CBIB08, CBIB09,
      CBIB10, CBIB11, CBIB12,
      CBIB13, CBIB14, CBIB15,
      CBIB16, CBIB17, CBIB18,
      CBIB19)
    values (#{cbib01,jdbcType=INTEGER}, #{cbib02,jdbcType=INTEGER}, #{cbib03,jdbcType=VARCHAR},
      #{cbib04,jdbcType=TIMESTAMP}, #{cbib05,jdbcType=VARCHAR}, #{cbib06,jdbcType=VARCHAR},
      #{cbib07,jdbcType=INTEGER}, #{cbib08,jdbcType=INTEGER}, #{cbib09,jdbcType=DOUBLE},
      #{cbib10,jdbcType=DOUBLE}, #{cbib11,jdbcType=DOUBLE}, #{cbib12,jdbcType=DOUBLE},
      #{cbib13,jdbcType=DOUBLE}, #{cbib14,jdbcType=DOUBLE}, #{cbib15,jdbcType=DOUBLE},
      #{cbib16,jdbcType=DOUBLE}, #{cbib17,jdbcType=VARCHAR}, #{cbib18,jdbcType=INTEGER},
      #{cbib19,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.system.domain.Cbib">
    insert into `cbib`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cbib01 != null">
        CBIB01,
      </if>
      <if test="cbib02 != null">
        CBIB02,
      </if>
      <if test="cbib03 != null">
        CBIB03,
      </if>
      <if test="cbib04 != null">
        CBIB04,
      </if>
      <if test="cbib05 != null">
        CBIB05,
      </if>
      <if test="cbib06 != null">
        CBIB06,
      </if>
      <if test="cbib07 != null">
        CBIB07,
      </if>
      <if test="cbib08 != null">
        CBIB08,
      </if>
      <if test="cbib09 != null">
        CBIB09,
      </if>
      <if test="cbib10 != null">
        CBIB10,
      </if>
      <if test="cbib11 != null">
        CBIB11,
      </if>
      <if test="cbib12 != null">
        CBIB12,
      </if>
      <if test="cbib13 != null">
        CBIB13,
      </if>
      <if test="cbib14 != null">
        CBIB14,
      </if>
      <if test="cbib15 != null">
        CBIB15,
      </if>
      <if test="cbib16 != null">
        CBIB16,
      </if>
      <if test="cbib17 != null">
        CBIB17,
      </if>
      <if test="cbib18 != null">
        CBIB18,
      </if>
      <if test="cbib19 != null">
        CBIB19,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cbib01 != null">
        #{cbib01,jdbcType=INTEGER},
      </if>
      <if test="cbib02 != null">
        #{cbib02,jdbcType=INTEGER},
      </if>
      <if test="cbib03 != null">
        #{cbib03,jdbcType=VARCHAR},
      </if>
      <if test="cbib04 != null">
        #{cbib04,jdbcType=TIMESTAMP},
      </if>
      <if test="cbib05 != null">
        #{cbib05,jdbcType=VARCHAR},
      </if>
      <if test="cbib06 != null">
        #{cbib06,jdbcType=VARCHAR},
      </if>
      <if test="cbib07 != null">
        #{cbib07,jdbcType=INTEGER},
      </if>
      <if test="cbib08 != null">
        #{cbib08,jdbcType=INTEGER},
      </if>
      <if test="cbib09 != null">
        #{cbib09,jdbcType=DOUBLE},
      </if>
      <if test="cbib10 != null">
        #{cbib10,jdbcType=DOUBLE},
      </if>
      <if test="cbib11 != null">
        #{cbib11,jdbcType=DOUBLE},
      </if>
      <if test="cbib12 != null">
        #{cbib12,jdbcType=DOUBLE},
      </if>
      <if test="cbib13 != null">
        #{cbib13,jdbcType=DOUBLE},
      </if>
      <if test="cbib14 != null">
        #{cbib14,jdbcType=DOUBLE},
      </if>
      <if test="cbib15 != null">
        #{cbib15,jdbcType=DOUBLE},
      </if>
      <if test="cbib16 != null">
        #{cbib16,jdbcType=DOUBLE},
      </if>
      <if test="cbib17 != null">
        #{cbib17,jdbcType=VARCHAR},
      </if>
      <if test="cbib18 != null">
        #{cbib18,jdbcType=INTEGER},
      </if>
      <if test="cbib19 != null">
        #{cbib19,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ruoyi.system.domain.CbibCriteria" resultType="java.lang.Long">
    select count(*) from `cbib`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `cbib`
    <set>
      <if test="record.cbib01 != null">
        CBIB01 = #{record.cbib01,jdbcType=INTEGER},
      </if>
      <if test="record.cbib02 != null">
        CBIB02 = #{record.cbib02,jdbcType=INTEGER},
      </if>
      <if test="record.cbib03 != null">
        CBIB03 = #{record.cbib03,jdbcType=VARCHAR},
      </if>
      <if test="record.cbib04 != null">
        CBIB04 = #{record.cbib04,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cbib05 != null">
        CBIB05 = #{record.cbib05,jdbcType=VARCHAR},
      </if>
      <if test="record.cbib06 != null">
        CBIB06 = #{record.cbib06,jdbcType=VARCHAR},
      </if>
      <if test="record.cbib07 != null">
        CBIB07 = #{record.cbib07,jdbcType=INTEGER},
      </if>
      <if test="record.cbib08 != null">
        CBIB08 = #{record.cbib08,jdbcType=INTEGER},
      </if>
      <if test="record.cbib09 != null">
        CBIB09 = #{record.cbib09,jdbcType=DOUBLE},
      </if>
      <if test="record.cbib10 != null">
        CBIB10 = #{record.cbib10,jdbcType=DOUBLE},
      </if>
      <if test="record.cbib11 != null">
        CBIB11 = #{record.cbib11,jdbcType=DOUBLE},
      </if>
      <if test="record.cbib12 != null">
        CBIB12 = #{record.cbib12,jdbcType=DOUBLE},
      </if>
      <if test="record.cbib13 != null">
        CBIB13 = #{record.cbib13,jdbcType=DOUBLE},
      </if>
      <if test="record.cbib14 != null">
        CBIB14 = #{record.cbib14,jdbcType=DOUBLE},
      </if>
      <if test="record.cbib15 != null">
        CBIB15 = #{record.cbib15,jdbcType=DOUBLE},
      </if>
      <if test="record.cbib16 != null">
        CBIB16 = #{record.cbib16,jdbcType=DOUBLE},
      </if>
      <if test="record.cbib17 != null">
        CBIB17 = #{record.cbib17,jdbcType=VARCHAR},
      </if>
      <if test="record.cbib18 != null">
        CBIB18 = #{record.cbib18,jdbcType=INTEGER},
      </if>
      <if test="record.cbib19 != null">
        CBIB19 = #{record.cbib19,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `cbib`
    set CBIB01 = #{record.cbib01,jdbcType=INTEGER},
      CBIB02 = #{record.cbib02,jdbcType=INTEGER},
      CBIB03 = #{record.cbib03,jdbcType=VARCHAR},
      CBIB04 = #{record.cbib04,jdbcType=TIMESTAMP},
      CBIB05 = #{record.cbib05,jdbcType=VARCHAR},
      CBIB06 = #{record.cbib06,jdbcType=VARCHAR},
      CBIB07 = #{record.cbib07,jdbcType=INTEGER},
      CBIB08 = #{record.cbib08,jdbcType=INTEGER},
      CBIB09 = #{record.cbib09,jdbcType=DOUBLE},
      CBIB10 = #{record.cbib10,jdbcType=DOUBLE},
      CBIB11 = #{record.cbib11,jdbcType=DOUBLE},
      CBIB12 = #{record.cbib12,jdbcType=DOUBLE},
      CBIB13 = #{record.cbib13,jdbcType=DOUBLE},
      CBIB14 = #{record.cbib14,jdbcType=DOUBLE},
      CBIB15 = #{record.cbib15,jdbcType=DOUBLE},
      CBIB16 = #{record.cbib16,jdbcType=DOUBLE},
      CBIB17 = #{record.cbib17,jdbcType=VARCHAR},
      CBIB18 = #{record.cbib18,jdbcType=INTEGER},
      CBIB19 = #{record.cbib19,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.system.domain.Cbib">
    update `cbib`
    <set>
      <if test="cbib02 != null">
        CBIB02 = #{cbib02,jdbcType=INTEGER},
      </if>
      <if test="cbib03 != null">
        CBIB03 = #{cbib03,jdbcType=VARCHAR},
      </if>
      <if test="cbib04 != null">
        CBIB04 = #{cbib04,jdbcType=TIMESTAMP},
      </if>
      <if test="cbib05 != null">
        CBIB05 = #{cbib05,jdbcType=VARCHAR},
      </if>
      <if test="cbib06 != null">
        CBIB06 = #{cbib06,jdbcType=VARCHAR},
      </if>
      <if test="cbib07 != null">
        CBIB07 = #{cbib07,jdbcType=INTEGER},
      </if>
      <if test="cbib08 != null">
        CBIB08 = #{cbib08,jdbcType=INTEGER},
      </if>
      <if test="cbib09 != null">
        CBIB09 = #{cbib09,jdbcType=DOUBLE},
      </if>
      <if test="cbib10 != null">
        CBIB10 = #{cbib10,jdbcType=DOUBLE},
      </if>
      <if test="cbib11 != null">
        CBIB11 = #{cbib11,jdbcType=DOUBLE},
      </if>
      <if test="cbib12 != null">
        CBIB12 = #{cbib12,jdbcType=DOUBLE},
      </if>
      <if test="cbib13 != null">
        CBIB13 = #{cbib13,jdbcType=DOUBLE},
      </if>
      <if test="cbib14 != null">
        CBIB14 = #{cbib14,jdbcType=DOUBLE},
      </if>
      <if test="cbib15 != null">
        CBIB15 = #{cbib15,jdbcType=DOUBLE},
      </if>
      <if test="cbib16 != null">
        CBIB16 = #{cbib16,jdbcType=DOUBLE},
      </if>
      <if test="cbib17 != null">
        CBIB17 = #{cbib17,jdbcType=VARCHAR},
      </if>
      <if test="cbib18 != null">
        CBIB18 = #{cbib18,jdbcType=INTEGER},
      </if>
      <if test="cbib19 != null">
        CBIB19 = #{cbib19,jdbcType=INTEGER},
      </if>
    </set>
    where CBIB01 = #{cbib01,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.system.domain.Cbib">
    update `cbib`
    set CBIB02 = #{cbib02,jdbcType=INTEGER},
      CBIB03 = #{cbib03,jdbcType=VARCHAR},
      CBIB04 = #{cbib04,jdbcType=TIMESTAMP},
      CBIB05 = #{cbib05,jdbcType=VARCHAR},
      CBIB06 = #{cbib06,jdbcType=VARCHAR},
      CBIB07 = #{cbib07,jdbcType=INTEGER},
      CBIB08 = #{cbib08,jdbcType=INTEGER},
      CBIB09 = #{cbib09,jdbcType=DOUBLE},
      CBIB10 = #{cbib10,jdbcType=DOUBLE},
      CBIB11 = #{cbib11,jdbcType=DOUBLE},
      CBIB12 = #{cbib12,jdbcType=DOUBLE},
      CBIB13 = #{cbib13,jdbcType=DOUBLE},
      CBIB14 = #{cbib14,jdbcType=DOUBLE},
      CBIB15 = #{cbib15,jdbcType=DOUBLE},
      CBIB16 = #{cbib16,jdbcType=DOUBLE},
      CBIB17 = #{cbib17,jdbcType=VARCHAR},
      CBIB18 = #{cbib18,jdbcType=INTEGER},
      CBIB19 = #{cbib19,jdbcType=INTEGER}
    where CBIB01 = #{cbib01,jdbcType=INTEGER}
  </update>


<!--  根据货物id和仓库id获取最新的台账数据-->
  <select id="selectLastByGoodsIdAndStoreId" resultMap="BaseResultMap">
    SELECT
	*
FROM
	`CBIB` c
WHERE
	c.CBIB02 = #{storeId}
	AND c.CBIB08 = #{goodsId}

ORDER BY
	c.CBIB04 DESC limit 1
 for update

  </select>
  <select id="selectLastByGoodsId" resultMap="BaseResultMap">
        SELECT
    <include refid="Base_Column_List" />
FROM
	`CBIB` c
WHERE

	 c.CBIB08 = #{goodsId}
ORDER BY
	c.CBIB04 DESC limit 1
  </select>

  <select id="selectLastZjrk" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
	`CBIB` c
WHERE

	 c.CBIB08 = #{goodsId}
	 and
	 c.CBIB02 = #{whId}
	 and c.CBIB17 = "直接入库"
ORDER BY
	c.CBIB04 DESC limit 1
  </select>

  <select id="selectCountZjrk" resultMap="BaseResultMap">
    SELECT
    count(*)
    FROM
    `CBIB` c
    WHERE

    c.CBIB08 = #{goodsId}
    and
    c.CBIB02 = #{whId}
    and c.CBIB17 = "直接入库"
    ORDER BY
    c.CBIB04 DESC limit 1
  </select>

  <select id="selectCountZjrk2" resultType="map">
    SELECT
   sum(c.CBIB11) as num
    FROM
    `CBIB` c
    WHERE

    c.CBIB08 = #{goodsId}
    and
    c.CBIB02 = #{whId}
    and c.CBIB17 = "直接入库"
  </select>
  <select id="selectSumSaleOut" resultType="java.lang.Double">
    SELECT
    sum(c.CBIB13)
    FROM
    `CBIB` c
    WHERE

    c.CBIB08 = #{goodsId}
    and
    c.CBIB02 = #{whId}
    and c.CBIB17 = "销售出库单"

  </select>

  <select id="selectLast" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    `CBIB` c
    WHERE
    c.CBIB08 = #{goodsId}
    and
    c.CBIB02 = #{whId}
    ORDER BY
    c.CBIB04 DESC limit 1
  </select>

<!--  &lt;select id="monthlyStockInAndOut" resultType="com.ruoyi.system.domain.vo.CbibVo"&gt;-->
<!--     SELECT-->
<!--			a.CBIB02,a.CBIB08,-->
<!--            c.CBPB08 as goodsName,b.CBWA09 as winName,c.CBPB12,-->
<!--      DATE_FORMAT(a.CBIB04,'%Y-%m') as yearAndMonth,-->
<!--      a.CBIB10,SUM(a.CBIB11) as inCount,a.CBIB12,SUM(a.CBIB13) as outCount,-->
<!--     a.CBIB17-->
<!--    FROM CBIB a-->
<!--    LEFT JOIN CBWA b on a.CBIB02=b.CBWA01-->
<!--    LEFT JOIN CBPB c ON c.CBPB01=a.CBIB08-->
<!--    where a.CBIB04 is not null-->

<!--    GROUP BY a.CBIB02,a.CBIB08,DATE_FORMAT(a.CBIB04,'%Y-%m') HAVING 1=1-->
<!--  &lt;if test="cbpb12!=null and cbpb12!=''"&gt;-->
<!--    and c.CBPB12 like concat('%', #{cbpb12}, '%')-->
<!--  &lt;/if&gt;-->
<!--    &lt;if test="cbib02!=null and cbib02!=''"&gt;-->
<!--      and a.cbib02 = #{cbib02}-->
<!--    &lt;/if&gt;-->
<!--    &lt;if test="monthlys!=null"&gt;-->
<!--      and yearAndMonth in-->
<!--      &lt;foreach item="monthly" collection="monthlys" open="(" separator="," close=")"&gt;-->
<!--        #{monthly}-->
<!--      &lt;/foreach&gt;-->
<!--    &lt;/if&gt;-->
<!--    order  by  DATE_FORMAT(a.CBIB04,'%Y-%m') desc-->
<!--  &lt;/select&gt;-->

  <select id="monthlyStockInAndOut" resultType="com.ruoyi.system.domain.vo.CbibVo">
    SELECT
    a.CBIB02,a.CBIB08,
    c.CBPB08 as goodsName,b.CBWA09 as winName,c.CBPB12,
    DATE_FORMAT(a.CBIB04,'%Y-%m') as yearAndMonth,
    a.CBIB10,a.CBIB11 ,a.CBIB12,a.CBIB13 ,
    a.CBIB17
    FROM CBIB a
    LEFT JOIN CBWA b on a.CBIB02=b.CBWA01
    LEFT JOIN CBPB c ON c.CBPB01=a.CBIB08
    where a.CBIB04 is not null


    <if test="cbpb12!=null and cbpb12!=''">
      and c.CBPB12 like concat('%', #{cbpb12}, '%')
    </if>
    <if test="cbpb12s != null">
      and c.CBPB12 in
      <foreach item="cbwaItem" collection="cbpb12s" open="(" separator="," close=")">
        #{cbwaItem}
      </foreach>
    </if>
    <if test="cbib02!=null and cbib02!=''">
      and a.cbib02 = #{cbib02}
    </if>
    <if test="monthlys!=null">
      and
        DATE_FORMAT(a.CBIB04,'%Y-%m')
              in
      <foreach close=")" collection="monthlys" item="monthly" open="(" separator=",">
        #{monthly}
      </foreach>
    </if>
    order  by  DATE_FORMAT(a.CBIB04,'%Y-%m') desc
  </select>
  <select id="monthlySales" resultType="com.ruoyi.system.domain.vo.CbibVo2">
    SELECT
    a.CBIB19,
    ca.CBCA08 as customerName,DATE_FORMAT(a.CBIB04,'%Y-%m') as yearAndMonth,
    SUM(a.CBIB13) as outCount,SUM(a.CBIB14) as outMoney
    FROM CBIB a
    left join CBCA ca on ca.CBCA01 = a.CBIB19
    WHERE a.CBIB05 = 5 and a.CBIB19 is not null
    GROUP BY a.CBIB19,DATE_FORMAT(a.CBIB04,'%Y-%m') HAVING 1=1
    <!--&lt;if test="cbpb12!=null and cbpb12!=''"&gt;
      and c.CBPB12 like concat('%', #{cbpb12}, '%')
    &lt;/if&gt;-->
    <if test="customerId!=null">
      and a.cbib19 = #{customerId}
    </if>
    <if test="monthlys!=null">
      and yearAndMonth in
      <foreach close=")" collection="monthlys" item="monthly" open="(" separator=",">
        #{monthly}
      </foreach>
    </if>
    order  by  DATE_FORMAT(a.CBIB04,'%Y-%m') desc
  </select>

  <select id="monthlySalesTotal" resultType="com.ruoyi.system.domain.vo.CbibVo2">
    select ib.CBIB19,sum(ib.outCount) as outCountTotal,sum(ib.outMoney) as outMoneyTotal  from (SELECT
    a.CBIB19,
    ca.CBCA08 as customerName,DATE_FORMAT(a.CBIB04,'%Y-%m') as yearAndMonth,
    SUM(a.CBIB13) as outCount,SUM(a.CBIB14) as outMoney
    FROM CBIB a
    left join CBCA ca on ca.CBCA01 = a.CBIB19
    WHERE a.CBIB05 = 5 and a.CBIB19 is not null
    GROUP BY a.CBIB19,DATE_FORMAT(a.CBIB04,'%Y-%m') HAVING 1=1
    <!--&lt;if test="cbpb12!=null and cbpb12!=''"&gt;
      and c.CBPB12 like concat('%', #{cbpb12}, '%')
    &lt;/if&gt;-->
    <if test="customerId!=null">
      and a.cbib19 = #{customerId}
    </if>
    <if test="monthlys!=null">
      and yearAndMonth in
      <foreach close=")" collection="monthlys" item="monthly" open="(" separator=",">
        #{monthly}
      </foreach>
    </if>) as ib group by ib.CBIB19
  </select>

  <select id="monthlySalesTotal2" resultType="com.ruoyi.system.domain.vo.CbibVo2">
    SELECT
   DATE_FORMAT(a.CBIB04,'%Y-%m') as yearAndMonth,
    SUM(a.CBIB13) as outCountTotal,SUM(a.CBIB14) as outMoneyTotal
    FROM CBIB a
    left join CBCA ca on ca.CBCA01 = a.CBIB19
    WHERE a.CBIB05 = 5 and a.CBIB19 is not null
    GROUP BY DATE_FORMAT(a.CBIB04,'%Y-%m') HAVING 1=1

  </select>


  <select id="fnSkuListCbib" resultMap="BaseResultMap">



  </select>
  <select id="selectByKcqkbaobiao" resultMap="BaseResultMap">
    SELECT cbib.* FROM `CBIB` cbib
    LEFT JOIN CBPB pb ON pb.CBPB01 = cbib.CBIB08
    where
    cbib.CBIB01 !=0

    <if test="whIds != null">
      and cbib.CBIB02 in
      <foreach close=")" collection="whIds" item="whIdItem" open="(" separator=",">
        #{whIdItem}
      </foreach>
    </if>

    <if test="goodsIds != null">
      and cbib.CBIB08 in
      <foreach close=")" collection="goodsIds" item="goodsItem" open="(" separator=",">
        #{goodsItem}
      </foreach>
    </if>
    <!-- &lt;if test="goodsId !=null"&gt;
         AND sku.goods_id = #{goodsId}
     &lt;/if&gt;-->

    <if test="brandIds != null">
      and pb.CBPB10 in
      <foreach close=")" collection="brandIds" item="brandItem" open="(" separator=",">
        #{brandItem}
      </foreach>
    </if>
    <!--&lt;if test="brandId !=null"&gt;
      AND pb.CBPB10 = #{brandId}
    &lt;/if&gt;-->
        <if test="startTime != null">
          and cbib.CBIB04 &gt;= #{startTime}
        </if>
        <if test="endTime != null">
          and cbib.CBIB04 &lt;=#{endTime}
        </if>
    order by cbib.CBIB04 desc
  </select>
    <select id="selectgroupnum" resultType="com.ruoyi.system.domain.vo.CheckVo">
      SELECT
        sum(a.qty) as qty,
        a.goods_id as goodsId
      from

        gs_goods_sku a
      GROUP BY
        a.goods_id

    </select>
    <select id="selectall" resultType="com.ruoyi.system.domain.vo.LedgerVo">
      select * from CBIB
    </select>


</mapper>
