<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CbifMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.Cbif">
    <id column="CBIF01" jdbcType="INTEGER" property="cbif01" />
    <result column="CBIF02" jdbcType="INTEGER" property="cbif02" />
    <result column="CBIF03" jdbcType="TIMESTAMP" property="cbif03" />
    <result column="CBIF04" jdbcType="INTEGER" property="cbif04" />
    <result column="CBIF05" jdbcType="TIMESTAMP" property="cbif05" />
    <result column="CBIF06" jdbcType="INTEGER" property="cbif06" />
    <result column="CBIF07" jdbcType="INTEGER" property="cbif07" />
    <result column="CBIF08" jdbcType="INTEGER" property="cbif08" />
    <result column="CBIF09" jdbcType="DOUBLE" property="cbif09" />
    <result column="CBIF10" jdbcType="DOUBLE" property="cbif10" />
    <result column="CBIF11" jdbcType="DOUBLE" property="cbif11" />
    <result column="CBIF12" jdbcType="DOUBLE" property="cbif12" />
    <result column="CBIF13" jdbcType="VARCHAR" property="cbif13" />
    <result column="CBIE01" jdbcType="INTEGER" property="cbie01" />
    <result column="CBIF14" jdbcType="INTEGER" property="cbif14" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CBIF01, CBIF02, CBIF03, CBIF04, CBIF05, CBIF06, CBIF07, CBIF08, CBIF09, CBIF10, CBIF11,
    CBIF12, CBIF13, CBIE01, CBIF14, user_id
  </sql>
  <select id="selectByExample" parameterType="com.ruoyi.system.domain.CbifCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `CBIF`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `CBIF`
    where CBIF01 = #{cbif01,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `CBIF`
    where CBIF01 = #{cbif01,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ruoyi.system.domain.CbifCriteria">
    delete from `CBIF`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ruoyi.system.domain.Cbif">
    insert into `CBIF` (CBIF01, CBIF02, CBIF03,
      CBIF04, CBIF05, CBIF06,
      CBIF07, CBIF08, CBIF09,
      CBIF10, CBIF11, CBIF12,
      CBIF13, CBIE01, CBIF14,
      user_id)
    values (#{cbif01,jdbcType=INTEGER}, #{cbif02,jdbcType=INTEGER}, #{cbif03,jdbcType=TIMESTAMP},
      #{cbif04,jdbcType=INTEGER}, #{cbif05,jdbcType=TIMESTAMP}, #{cbif06,jdbcType=INTEGER},
      #{cbif07,jdbcType=INTEGER}, #{cbif08,jdbcType=INTEGER}, #{cbif09,jdbcType=DOUBLE},
      #{cbif10,jdbcType=DOUBLE}, #{cbif11,jdbcType=DOUBLE}, #{cbif12,jdbcType=DOUBLE},
      #{cbif13,jdbcType=VARCHAR}, #{cbie01,jdbcType=INTEGER}, #{cbif14,jdbcType=INTEGER},
      #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.system.domain.Cbif">
    insert into `CBIF`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cbif01 != null">
        CBIF01,
      </if>
      <if test="cbif02 != null">
        CBIF02,
      </if>
      <if test="cbif03 != null">
        CBIF03,
      </if>
      <if test="cbif04 != null">
        CBIF04,
      </if>
      <if test="cbif05 != null">
        CBIF05,
      </if>
      <if test="cbif06 != null">
        CBIF06,
      </if>
      <if test="cbif07 != null">
        CBIF07,
      </if>
      <if test="cbif08 != null">
        CBIF08,
      </if>
      <if test="cbif09 != null">
        CBIF09,
      </if>
      <if test="cbif10 != null">
        CBIF10,
      </if>
      <if test="cbif11 != null">
        CBIF11,
      </if>
      <if test="cbif12 != null">
        CBIF12,
      </if>
      <if test="cbif13 != null">
        CBIF13,
      </if>
      <if test="cbie01 != null">
        CBIE01,
      </if>
      <if test="cbif14 != null">
        CBIF14,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cbif01 != null">
        #{cbif01,jdbcType=INTEGER},
      </if>
      <if test="cbif02 != null">
        #{cbif02,jdbcType=INTEGER},
      </if>
      <if test="cbif03 != null">
        #{cbif03,jdbcType=TIMESTAMP},
      </if>
      <if test="cbif04 != null">
        #{cbif04,jdbcType=INTEGER},
      </if>
      <if test="cbif05 != null">
        #{cbif05,jdbcType=TIMESTAMP},
      </if>
      <if test="cbif06 != null">
        #{cbif06,jdbcType=INTEGER},
      </if>
      <if test="cbif07 != null">
        #{cbif07,jdbcType=INTEGER},
      </if>
      <if test="cbif08 != null">
        #{cbif08,jdbcType=INTEGER},
      </if>
      <if test="cbif09 != null">
        #{cbif09,jdbcType=DOUBLE},
      </if>
      <if test="cbif10 != null">
        #{cbif10,jdbcType=DOUBLE},
      </if>
      <if test="cbif11 != null">
        #{cbif11,jdbcType=DOUBLE},
      </if>
      <if test="cbif12 != null">
        #{cbif12,jdbcType=DOUBLE},
      </if>
      <if test="cbif13 != null">
        #{cbif13,jdbcType=VARCHAR},
      </if>
      <if test="cbie01 != null">
        #{cbie01,jdbcType=INTEGER},
      </if>
      <if test="cbif14 != null">
        #{cbif14,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ruoyi.system.domain.CbifCriteria" resultType="java.lang.Long">
    select count(*) from `CBIF`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
    <update id="updateByExampleSelective" parameterType="map">
    update `CBIF`
    <set>
      <if test="record.cbif01 != null">
        CBIF01 = #{record.cbif01,jdbcType=INTEGER},
      </if>
      <if test="record.cbif02 != null">
        CBIF02 = #{record.cbif02,jdbcType=INTEGER},
      </if>
      <if test="record.cbif03 != null">
        CBIF03 = #{record.cbif03,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cbif04 != null">
        CBIF04 = #{record.cbif04,jdbcType=INTEGER},
      </if>
      <if test="record.cbif05 != null">
        CBIF05 = #{record.cbif05,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cbif06 != null">
        CBIF06 = #{record.cbif06,jdbcType=INTEGER},
      </if>
      <if test="record.cbif07 != null">
        CBIF07 = #{record.cbif07,jdbcType=INTEGER},
      </if>
      <if test="record.cbif08 != null">
        CBIF08 = #{record.cbif08,jdbcType=INTEGER},
      </if>
      <if test="record.cbif09 != null">
        CBIF09 = #{record.cbif09,jdbcType=DOUBLE},
      </if>
      <if test="record.cbif10 != null">
        CBIF10 = #{record.cbif10,jdbcType=DOUBLE},
      </if>
      <if test="record.cbif11 != null">
        CBIF11 = #{record.cbif11,jdbcType=DOUBLE},
      </if>
      <if test="record.cbif12 != null">
        CBIF12 = #{record.cbif12,jdbcType=DOUBLE},
      </if>
      <if test="record.cbif13 != null">
        CBIF13 = #{record.cbif13,jdbcType=VARCHAR},
      </if>
      <if test="record.cbie01 != null">
        CBIE01 = #{record.cbie01,jdbcType=INTEGER},
      </if>
      <if test="record.cbif14 != null">
        CBIF14 = #{record.cbif14,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `CBIF`
    set CBIF01 = #{record.cbif01,jdbcType=INTEGER},
      CBIF02 = #{record.cbif02,jdbcType=INTEGER},
      CBIF03 = #{record.cbif03,jdbcType=TIMESTAMP},
      CBIF04 = #{record.cbif04,jdbcType=INTEGER},
      CBIF05 = #{record.cbif05,jdbcType=TIMESTAMP},
      CBIF06 = #{record.cbif06,jdbcType=INTEGER},
      CBIF07 = #{record.cbif07,jdbcType=INTEGER},
      CBIF08 = #{record.cbif08,jdbcType=INTEGER},
      CBIF09 = #{record.cbif09,jdbcType=DOUBLE},
      CBIF10 = #{record.cbif10,jdbcType=DOUBLE},
      CBIF11 = #{record.cbif11,jdbcType=DOUBLE},
      CBIF12 = #{record.cbif12,jdbcType=DOUBLE},
      CBIF13 = #{record.cbif13,jdbcType=VARCHAR},
      CBIE01 = #{record.cbie01,jdbcType=INTEGER},
      CBIF14 = #{record.cbif14,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.system.domain.Cbif">
    update `CBIF`
    <set>
      <if test="cbif02 != null">
        CBIF02 = #{cbif02,jdbcType=INTEGER},
      </if>
      <if test="cbif03 != null">
        CBIF03 = #{cbif03,jdbcType=TIMESTAMP},
      </if>
      <if test="cbif04 != null">
        CBIF04 = #{cbif04,jdbcType=INTEGER},
      </if>
      <if test="cbif05 != null">
        CBIF05 = #{cbif05,jdbcType=TIMESTAMP},
      </if>
      <if test="cbif06 != null">
        CBIF06 = #{cbif06,jdbcType=INTEGER},
      </if>
      <if test="cbif07 != null">
        CBIF07 = #{cbif07,jdbcType=INTEGER},
      </if>
      <if test="cbif08 != null">
        CBIF08 = #{cbif08,jdbcType=INTEGER},
      </if>
      <if test="cbif09 != null">
        CBIF09 = #{cbif09,jdbcType=DOUBLE},
      </if>
      <if test="cbif10 != null">
        CBIF10 = #{cbif10,jdbcType=DOUBLE},
      </if>
      <if test="cbif11 != null">
        CBIF11 = #{cbif11,jdbcType=DOUBLE},
      </if>
      <if test="cbif12 != null">
        CBIF12 = #{cbif12,jdbcType=DOUBLE},
      </if>
      <if test="cbif13 != null">
        CBIF13 = #{cbif13,jdbcType=VARCHAR},
      </if>
      <if test="cbie01 != null">
        CBIE01 = #{cbie01,jdbcType=INTEGER},
      </if>
      <if test="cbif14 != null">
        CBIF14 = #{cbif14,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where CBIF01 = #{cbif01,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.system.domain.Cbif">
    update `CBIF`
    set CBIF02 = #{cbif02,jdbcType=INTEGER},
      CBIF03 = #{cbif03,jdbcType=TIMESTAMP},
      CBIF04 = #{cbif04,jdbcType=INTEGER},
      CBIF05 = #{cbif05,jdbcType=TIMESTAMP},
      CBIF06 = #{cbif06,jdbcType=INTEGER},
      CBIF07 = #{cbif07,jdbcType=INTEGER},
      CBIF08 = #{cbif08,jdbcType=INTEGER},
      CBIF09 = #{cbif09,jdbcType=DOUBLE},
      CBIF10 = #{cbif10,jdbcType=DOUBLE},
      CBIF11 = #{cbif11,jdbcType=DOUBLE},
      CBIF12 = #{cbif12,jdbcType=DOUBLE},
      CBIF13 = #{cbif13,jdbcType=VARCHAR},
      CBIE01 = #{cbie01,jdbcType=INTEGER},
      CBIF14 = #{cbif14,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where CBIF01 = #{cbif01,jdbcType=INTEGER}
  </update>
  <select id="SwJsStoreslistss" resultType="com.ruoyi.system.domain.vo.CbifVo">
    SELECT
      a.CBIE07,a.CBIE02,b.CBWA09,c.CALA08,d.CBSA08,g.CBPA07,h.CALA08,f.CBPB12,
      f.CBPB15,f.CBPB08,e.CBIF13,a.CBIE01,e.CBIF09,e.CBIF11,e.CBIF12
    FROM
      CBIE a
        LEFT JOIN
      CBWA b
      on
        b.CBWA01=a.CBIE09
        LEFT JOIN
      CALA c
      on
        c.CALA01=a.CBIE16
        LEFT JOIN
      CBIF e
      on
        e.CBIE01=a.CBIE01
        LEFT JOIN
      CBSA d
      on
        d.CBSA01=e.CBIF14
        LEFT JOIN
      CBPB f
      ON
        f.CBPB01=e.CBIF08
        LEFT JOIN
      CBPA g
      on
        g.CBPA01=f.CBPB14
        LEFT JOIN
      CALA h
      on
        h.CALA01=f.CBPB10
    where
      a.CBIE01= #{cbie01,jdbcType=INTEGER}
  </select>

    <select id="selectInventorysummaryquery"  resultType="com.ruoyi.system.domain.vo.InwuquVo">
      SELECT (@i:=@i+1) AS '序号' ,
      e.CBPA07 as totalclassify,
      d.CBPA07,h.CALA08,c.CBPB12,c.CBPB15,c.CBPB08,b.CBIF09,f.CBWA09,g.lock_qty as lockQty,c.CBPB01
      FROM
      CBIE a
      LEFT JOIN
      CBIF b
      on
      a.CBIE01=b.CBIE01
      LEFT JOIN
      CBPB c
      on
      c.CBPB01=b.CBIF08
      LEFT JOIN
      CBPA d
      on
      d.CBPA01=c.CBPB14
      LEFT JOIN
      CBPA  e
      ON
      e.CBPA01=d.CBPA09

      LEFT JOIN
      CBWA f
      on
      f.CBWA01=a.CBIE09
      LEFT JOIN
      gs_goods_use g
      ON
      b.CBIF08=g.goods_id
      and
      a.CBIE09=g.lock_qty
      LEFT JOIN
      CALA h
      ON
      c.CBPB10=h.CALA01,
      --
      -- LEFT JOIN
      -- gs_goods_sku g
      -- ON
      -- a.CBIE09=g.wh_id,
      (SELECT @i:=0) AS itable
where
    a.CBIE06=0
      <if test="cbwa09s != null">
        and f.CBWA09 in
        <foreach item="cbwaItem" collection="cbwa09s" open="(" separator="," close=")">
          #{cbwaItem}
        </foreach>
       </if>
      <if test="cbpa07 != null "> and d.CBPA07 = #{cbpa07} </if>
      <if test="cala08 != null "> and h.CALA08 = #{cala08} </if>
      <if test="cbpb08 != null "> and c.CBPB08 = #{cbpb08}</if>
      <if test="cbpb01 != null "> and c.CBPB01 = #{cbpb01}</if>

    </select>



  <select id="selectInventorysummaryquery2"  resultType="com.ruoyi.system.domain.vo.InwuquVo">
    SELECT ib.CBIB01,ib.CBIB02,ib.CBIB08,ib.CBIB15, pb.CBPB08, pb.CBPB15, pb.CBPB12,pb.CBPB10,pb.CBPB14,pb.CBPB01,
    wa.CBWA09,max(ib.CBIB04) CBIB04
    FROM CBIB ib
    LEFT JOIN CBPB pb ON pb.CBPB01 = ib.CBIB08
    LEFT JOIN CBWA wa ON wa.CBWA01 = ib.CBIB02
    GROUP BY ib.CBIB08,ib.CBIB02
    HAVING 1=1
    <if test="cbwa09s != null">
      and wa.CBWA09 in
      <foreach item="cbwaItem" collection="cbwa09s" open="(" separator="," close=")">
        #{cbwaItem}
      </foreach>
    </if>
    <if test="cbpa07 != null "> and pb.CBPB14 = #{cbpa07} </if>
    <if test="cbpb10 != null "> and pb.CBPB10 = #{cbpb10} </if>
    <if test="cbpb08 != null "> and pb.CBPB08 = #{cbpb08}</if>
    <if test="cbpb01 != null "> and pb.CBPB01 = #{cbpb01}</if>


  </select>


  <select id="selectInventorysummaryquery4"  resultType="com.ruoyi.system.domain.vo.InwuquVo">
    SELECT
    ib.CBIB01,
    ib.CBIB02,
    ib.CBIB08,
    ib.CBIB15,
    pb.CBPB08,
    pb.CBPB15,
    pb.CBPB12,
    pb.CBPB10,
    pb.CBPB14,
    pb.CBPB01,
    wa.CBWA09
    FROM
    CBIB ib
    LEFT JOIN CBPB pb ON pb.CBPB01 = ib.CBIB08
    LEFT JOIN CBWA wa ON wa.CBWA01 = ib.CBIB02
    WHERE
    ib.CBIB01 IN ( SELECT max( tb.CBIB01 ) FROM CBIB tb GROUP BY tb.CBIB08, tb.CBIB02 )
    <if test="cbwa09s != null">
      and wa.CBWA09 in
      <foreach item="cbwaItem" collection="cbwa09s" open="(" separator="," close=")">
        #{cbwaItem}
      </foreach>
    </if>
    <if test="cbpb10 != null "> and pb.CBPB10 = #{cbpb10} </if>
    <if test="cbpb01 != null "> and pb.CBPB01 = #{cbpb01}</if>

     order by ib.CBIB04 desc

  </select>

  <select id="selectInventorysummaryquery3"  resultType="com.ruoyi.system.domain.vo.InwuquVo">
    select t.CBIB01, t.CBPB14,t.CBPB10,t.CBPB12,t.CBPB15,t.CBPB08,t.CBPB01,SUM(t.CBIB15) cbib15 from
    (SELECT
    ib.CBIB01,
    ib.CBIB02,
    ib.CBIB08,
    ib.CBIB15,
    pb.CBPB08,
    pb.CBPB15,
    pb.CBPB12,
    pb.CBPB10,
    pb.CBPB14,
    pb.CBPB01,
    wa.CBWA09
    FROM
    CBIB ib
    LEFT JOIN CBPB pb ON pb.CBPB01 = ib.CBIB08
    LEFT JOIN CBWA wa ON wa.CBWA01 = ib.CBIB02
    WHERE
    ib.CBIB01 IN ( SELECT max( tb.CBIB01 ) FROM CBIB tb GROUP BY tb.CBIB08, tb.CBIB02 ) order by ib.CBIB04 desc) t

    GROUP BY t.CBIB08
    HAVING SUM(t.CBIB15) !=0 and SUM(t.CBIB15) is not null
    <if test="classId != null "> and t.CBPB14 = #{classId} </if>
    <if test="cbpb10 != null "> and t.CBPB10 = #{cbpb10} </if>
    <if test="cbpb01 != null "> and t.CBPB01 = #{cbpb01}</if>
  </select>
    <select id="selectInventorysummaryquerys" resultType="com.ruoyi.system.domain.vo.InwuqusVo">
      SELECT
        sn.id,c.CBWA09,d.CBLA09,f.CBPA07,h.CALA08,e.CBPB12,e.CBPB08,e.CBPB15,sn.sn,sn.in_time as inTime,
        sn.status,sn.groud_status as groudStatus,sn.repair_status as repairStatus,sn.goods_id as goodsId,sn.location_id as locationId
      FROM
        gs_goods_sn sn

          LEFT JOIN
        CBWA c
        ON
          sn.wh_id=c.CBWA01
          LEFT JOIN
        CBLA d
        ON
          d.CBLA01=sn.location_id
          LEFT JOIN
        CBPB e
        ON
          e.CBPB01=sn.goods_id
          LEFT JOIN
        CBPA f
        ON
          f.CBPA01=e.CBPB14
          LEFT JOIN
        CBPA g
        ON
          f.CBPA09=g.CBPA01
          LEFT JOIN
        CALA h
        ON
          h.CALA01=e.CBPB10
      LEFT JOIN sys_user u ON u.user_id = sn.create_by
      WHERE
          (sn.delete_flag =0 or sn.delete_flag is null) and sn.status!=3
      <if test="cbwa09s != null">
        and c.CBWA09 in
        <foreach item="cbwaItem" collection="cbwa09s" open="(" separator="," close=")">
          #{cbwaItem}
        </foreach>
      </if>
      <if test="cbla09s != null">
        and d.CBLA09 in
        <foreach item="cblaItem" collection="cbla09s" open="(" separator="," close=")">
          #{cblaItem}
        </foreach>
      </if>

      <if test="cbig09 != null ">
        and sn.goods_id =#{cbig09}
      </if>
      <if test="cbig10 != null and cbig10 !=''">
        and sn.sn like concat('%', #{cbig10}, '%')
      </if>

      <if test="cbpb01 != null">
        and e.cbpb01 =#{cbpb01}
      </if>
      <if test="cbpb10 != null">
        and e.cbpb10 =#{cbpb10}
      </if>
      <if test="status != null">
        and sn.status =#{status}
      </if>
      <if test="groudStatus != null">
        and sn.groud_status =#{groudStatus}
      </if>
      ${params.dataScope}
        order by sn.create_time desc

    </select>

  <select id="selectOutInventorysummaryquerys" resultType="com.ruoyi.system.domain.vo.InwuqusVo2">
    SELECT
    sn.id,c.CBWA09,d.CBLA09,f.CBPA07,h.CALA08,e.CBPB12,e.CBPB08,e.CBPB15,sn.sn,sn.in_time as inTime,sn.out_time as outTime,
    sn.status,sn.groud_status as groudStatus,sn.repair_status as repairStatus,sn.goods_id as goodsId,sn.location_id as locationId
    FROM
    gs_goods_sn sn

    LEFT JOIN
    CBWA c
    ON
    sn.wh_id=c.CBWA01
    LEFT JOIN
    CBLA d
    ON
    d.CBLA01=sn.location_id
    LEFT JOIN
    CBPB e
    ON
    e.CBPB01=sn.goods_id
    LEFT JOIN
    CBPA f
    ON
    f.CBPA01=e.CBPB14
    LEFT JOIN
    CBPA g
    ON
    f.CBPA09=g.CBPA01
    LEFT JOIN
    CALA h
    ON
    h.CALA01=e.CBPB10
    LEFT JOIN sys_user u ON u.user_id = sn.create_by
    WHERE
    (sn.delete_flag =0 or sn.delete_flag is null) and sn.status=3
    <if test="cbwa09s != null">
      and c.CBWA09 in
      <foreach item="cbwaItem" collection="cbwa09s" open="(" separator="," close=")">
        #{cbwaItem}
      </foreach>
    </if>
    <if test="cbla09s != null">
      and d.CBLA09 in
      <foreach item="cblaItem" collection="cbla09s" open="(" separator="," close=")">
        #{cblaItem}
      </foreach>
    </if>

    <if test="cbig09 != null ">
      and sn.goods_id =#{cbig09}
    </if>
    <if test="cbig10 != null and cbig10 !=''">
      and sn.sn like concat('%', #{cbig10}, '%')
    </if>

    <if test="cbpb01 != null">
      and e.cbpb01 =#{cbpb01}
    </if>
    <if test="cbpb10 != null">
      and e.cbpb10 =#{cbpb10}
    </if>
    <if test="status != null">
      and sn.status =#{status}
    </if>
    <if test="groudStatus != null">
      and sn.groud_status =#{groudStatus}
    </if>

    <if test="startTime != null">
      and sn.out_time &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and sn.out_time &lt;=#{endTime}
    </if>
    ${params.dataScope}
    order by sn.create_time desc

  </select>
  <select id="selectInventorysmmaryquerys" resultType="com.ruoyi.system.domain.vo.LedgerVo">
    SELECT
      b.CBWA09,a.CBIB04,a.CBIB03,a.CBIB17,a.CBIB06,c.CBPB08,c.CBPB12,
      a.CBIB09,a.CBIB10,a.CBIB11,b.CBWA11,a.CBIB12,a.CBIB13,a.CBIB14,a.CBIB15,a.CBIB16
    FROM CBIB a
        LEFT JOIN CBWA b on a.CBIB02=b.CBWA01
        LEFT JOIN CBPB c ON c.CBPB01=a.CBIB08
    WHERE
    b.CBWA06=0
    <if test="cbib17 != null and cbib17 != ''">
      AND  a.CBIB17 like concat('%', #{cbib17}, '%')
    </if>
    <if test="cbwa01 != null">
      and b.CBWA01 = #{cbwa01}
    </if>
    <if test="cbpb01 != null">
      and a.CBIB08 = #{cbpb01}
    </if>


    <if test="startTime != null">
      and a.cbib04 &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and a.cbib04 &lt;=#{endTime}
    </if>
    order by a.CBIB04 desc
    <!--<if test="params.beginTime != null and params.beginTime != ''">&lt;!&ndash; 开始时间检索 &ndash;&gt;
      and date_format(a.cbib04,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
    </if>
    <if test="params.endTime != null and params.endTime != ''">&lt;!&ndash; 结束时间检索 &ndash;&gt;
      and date_format(a.cbib04,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
    </if>-->
#     LIMIT 100

  </select>
  <select id="selectInventorysmsmaryquerys" resultType="com.ruoyi.system.domain.vo.OccupancyVo">
    select
    a.CBOA01,a.CBOA07,b.CBCA08,a.CBOA25,d.CBPA07,f.CALA08,c.CBPB12,g.lock_qty as lockQty,
      e.CBOB09,e.CBOB10,e.CBOB15,c.CBPB01,e.cbob01
    from
      CBOA a
        LEFT JOIN
      CBCA b
      ON
        b.CBCA01=a.CBOA09
        LEFT JOIN
      CBOB e
      ON
        e.CBOA01=a.CBOA01
        LEFT JOIN
      CBPB c
      ON
        c.CBPB01=e.CBOB08
        LEFT JOIN
      CBPA d
      ON
        d.CBPA01=c.CBPB14
        LEFT JOIN
      CALA  f
      ON
        f.CALA01=c.CBPB10
        LEFT JOIN
      gs_goods_use g
      ON
        g.order_no=a.CBOA07 and e.CBOB08 = g.goods_id
where a.CBOA06=0
    <if test="cbpa07 != null and cbpa07 != ''">
    and  d.CBPA07 like concat('%', #{cbpa07}, '%')
    </if>
    <if test="cala08 != null and cala08 != ''">
      and f.cala08 like concat('%', #{cala08}, '%')
    </if>

    <if test="cbpb01 != null ">
   and   c.CBPB01=#{cbpb01}
    </if>
    order by a.CBOA02 desc
  </select>
  <select id="selectInvntorysmsmaryquerys" resultType="com.ruoyi.system.domain.vo.OccuspancyVo">
    SELECT
      a.CBOA07,a.CBOA08,c.CBCA08,d.nick_name as caua17,f.CALA08,g.CBPA08,e.CBPB12,b.CBOB10,b.CBOB09,
      (b.CBOB09-b.CBOB10)as num,b.CBOB11,b.CBOB12
    FROM
      CBOA a
        LEFT JOIN
      CBOB b
      ON
        a.CBOA01=b.CBOA01
        LEFT JOIN
      CBCA c
      ON
        c.CBCA01=a.CBOA09
        LEFT JOIN
      sys_user d
      ON
        d.user_id=a.CBOA10
        LEFT JOIN
      CBPB e
      ON
        e.CBPB01=b.CBOB08
        LEFT JOIN
      CALA f
      ON
        f.CALA01=e.CBPB10
        LEFT JOIN
      CBPA g
      ON
        g.CBPA01=e.CBPB14
where
    a.CBOA06=0
    <if test="cbca08 != null and cbca08 != ''">
      and  c.CBCA08 = #{cbca08}
    </if>
    <if test="caua17 != null and caua17 != ''">
      and d.user_id =#{caua17}
    </if>
    <if test="cbpb01 != null ">
      and   e.cbpb01=#{cbpb01}
    </if>
    <if test="startTime != null">
      and a.CBOA08 &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and a.CBOA08 &lt;=#{endTime}
    </if>
    <if test="cboa07 != null">
      and a.CBOA07 like concat('%', #{cboa07}, '%')
    </if>
    order by a.CBOA02 desc
   <!-- <if test="params.beginTime != null and params.beginTime != ''">&lt;!&ndash; 开始时间检索 &ndash;&gt;
      and date_format(a.CBOA08,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
    </if>
    <if test="params.endTime != null and params.endTime != ''">&lt;!&ndash; 结束时间检索 &ndash;&gt;
      and date_format(a.CBOA08,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
    </if>-->
  </select>
  <select id="selectInntorysummaryquery" resultType="com.ruoyi.system.domain.vo.OutofstockregistrationVo">
    SELECT
      e.CBPA07,d.CBPA08,f.CALA08,c.CBPB12,c.CBPB15,c.CBPB08,b.CBOF09,g.CBCA08,a.CBOE08
    from
      CBOE a
        LEFT JOIN
      CBOF b
      ON
        a.CBOE01=b.CBOE01
        LEFT JOIN
      CBPB c
      ON
        b.CBOF08=c.CBPB01
        LEFT JOIN
      CBPA d
      ON
        d.CBPA01=c.CBPB14
        LEFT JOIN
      CBPA e
      ON
        e.CBPA01=d.CBPA09
        LEFT JOIN
      CALA f
      ON
        f.CALA01=c.CBPB10
        LEFT JOIN
      CBCA g
      ON
        g.CBCA01=a.CBOE09
where
    a.CBOE06=0
    <if test="cbpa08 != null and cbpa08 != ''">
      and  d.CBPA08 like concat('%', #{cbpa08}, '%')
    </if>
    <if test="cbpa07 != null and cbpa07 != ''">
      and  e.CBPA07=#{cbpa07}
    </if>
    <if test="cala08 != null and cala08 != ''">
      and f.CALA08 = #{cala08}
    </if>
    <if test="cbpb01 != null ">
      and   c.cbpb01=#{cbpb01}
    </if>
    order by b.CBOF02 desc
  </select>
  <select id="selectInntoryummaryquery" resultType="com.ruoyi.system.domain.vo.SczddVo">
    SELECT
      a.CBBA07,c.CALA08,b.CBPB12,b.CBPB08,a.CBBA09,a.CBBA11,a.CBBA14,a.CBBA13,a.CBBA12,
      (a.CBBA11+a.CBBA13) as producedNum,(a.CBBA09-a.CBBA11-a.CBBA13) as stockoutNum
    FROM
      CBBA a
        LEFT JOIN
      CBPB b
      ON
        a.CBBA08=b.CBPB01
        LEFT JOIN
      CALA c
      ON
        c.CALA01=b.CBPB10
where
    a.CBBA06=0
    <if test="cbba07 != null and cbba07 != ''">
      and   a.CBBA07 like concat('%', #{cbba07}, '%')
    </if>
    <if test="cbba12 != null and cbba12 != ''">
      and a.CBBA12 like concat('%', #{cbba12}, '%')
    </if>
    <if test="cbpb01 != null ">
      and  b.cbpb01=#{cbpb01}
    </if>
    order by a.CBBA02 desc
  </select>

</mapper>
