<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CboeMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.Cboe">
    <id column="CBOE01" jdbcType="INTEGER" property="cboe01" />
    <result column="CBOE02" jdbcType="TIMESTAMP" property="cboe02" />
    <result column="CBOE03" jdbcType="INTEGER" property="cboe03" />
    <result column="CBOE04" jdbcType="TIMESTAMP" property="cboe04" />
    <result column="CBOE05" jdbcType="INTEGER" property="cboe05" />
    <result column="CBOE06" jdbcType="INTEGER" property="cboe06" />
    <result column="CBOE07" jdbcType="VARCHAR" property="cboe07" />
    <result column="CBOE08" jdbcType="TIMESTAMP" property="cboe08" />
    <result column="CBOE10" jdbcType="INTEGER" property="cboe10" />
    <result column="CBOE21" jdbcType="VARCHAR" property="cboe21" />
    <result column="CBOE09" jdbcType="INTEGER" property="cboe09" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="Standardprice" jdbcType="DOUBLE" property="standardprice" />
    <result column="thisprice" jdbcType="DOUBLE" property="thisprice" />
    <result column="money" jdbcType="DOUBLE" property="money" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CBOE01, CBOE02, CBOE03, CBOE04, CBOE05, CBOE06, CBOE07, CBOE08, CBOE10, CBOE21, CBOE09,
    user_id, Standardprice, thisprice, money
  </sql>
  <select id="selectByExample" parameterType="com.ruoyi.system.domain.CboeCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `CBOE`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `CBOE`
    where CBOE01 = #{cboe01,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `CBOE`
    where CBOE01 = #{cboe01,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ruoyi.system.domain.CboeCriteria">
    delete from `CBOE`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ruoyi.system.domain.Cboe">
    insert into `CBOE` (CBOE01, CBOE02, CBOE03,
      CBOE04, CBOE05, CBOE06,
      CBOE07, CBOE08, CBOE10,
      CBOE21, CBOE09, user_id,
      Standardprice, thisprice, money
      )
    values (#{cboe01,jdbcType=INTEGER}, #{cboe02,jdbcType=TIMESTAMP}, #{cboe03,jdbcType=INTEGER},
      #{cboe04,jdbcType=TIMESTAMP}, #{cboe05,jdbcType=INTEGER}, #{cboe06,jdbcType=INTEGER},
      #{cboe07,jdbcType=VARCHAR}, #{cboe08,jdbcType=TIMESTAMP}, #{cboe10,jdbcType=INTEGER},
      #{cboe21,jdbcType=VARCHAR}, #{cboe09,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
      #{standardprice,jdbcType=DOUBLE}, #{thisprice,jdbcType=DOUBLE}, #{money,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.system.domain.Cboe">
    insert into `CBOE`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cboe01 != null">
        CBOE01,
      </if>
      <if test="cboe02 != null">
        CBOE02,
      </if>
      <if test="cboe03 != null">
        CBOE03,
      </if>
      <if test="cboe04 != null">
        CBOE04,
      </if>
      <if test="cboe05 != null">
        CBOE05,
      </if>
      <if test="cboe06 != null">
        CBOE06,
      </if>
      <if test="cboe07 != null">
        CBOE07,
      </if>
      <if test="cboe08 != null">
        CBOE08,
      </if>
      <if test="cboe10 != null">
        CBOE10,
      </if>
      <if test="cboe21 != null">
        CBOE21,
      </if>
      <if test="cboe09 != null">
        CBOE09,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="standardprice != null">
        Standardprice,
      </if>
      <if test="thisprice != null">
        thisprice,
      </if>
      <if test="money != null">
        money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cboe01 != null">
        #{cboe01,jdbcType=INTEGER},
      </if>
      <if test="cboe02 != null">
        #{cboe02,jdbcType=TIMESTAMP},
      </if>
      <if test="cboe03 != null">
        #{cboe03,jdbcType=INTEGER},
      </if>
      <if test="cboe04 != null">
        #{cboe04,jdbcType=TIMESTAMP},
      </if>
      <if test="cboe05 != null">
        #{cboe05,jdbcType=INTEGER},
      </if>
      <if test="cboe06 != null">
        #{cboe06,jdbcType=INTEGER},
      </if>
      <if test="cboe07 != null">
        #{cboe07,jdbcType=VARCHAR},
      </if>
      <if test="cboe08 != null">
        #{cboe08,jdbcType=TIMESTAMP},
      </if>
      <if test="cboe10 != null">
        #{cboe10,jdbcType=INTEGER},
      </if>
      <if test="cboe21 != null">
        #{cboe21,jdbcType=VARCHAR},
      </if>
      <if test="cboe09 != null">
        #{cboe09,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="standardprice != null">
        #{standardprice,jdbcType=DOUBLE},
      </if>
      <if test="thisprice != null">
        #{thisprice,jdbcType=DOUBLE},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ruoyi.system.domain.CboeCriteria" resultType="java.lang.Long">
    select count(*) from `CBOE`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `CBOE`
    <set>
      <if test="record.cboe01 != null">
        CBOE01 = #{record.cboe01,jdbcType=INTEGER},
      </if>
      <if test="record.cboe02 != null">
        CBOE02 = #{record.cboe02,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cboe03 != null">
        CBOE03 = #{record.cboe03,jdbcType=INTEGER},
      </if>
      <if test="record.cboe04 != null">
        CBOE04 = #{record.cboe04,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cboe05 != null">
        CBOE05 = #{record.cboe05,jdbcType=INTEGER},
      </if>
      <if test="record.cboe06 != null">
        CBOE06 = #{record.cboe06,jdbcType=INTEGER},
      </if>
      <if test="record.cboe07 != null">
        CBOE07 = #{record.cboe07,jdbcType=VARCHAR},
      </if>
      <if test="record.cboe08 != null">
        CBOE08 = #{record.cboe08,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cboe10 != null">
        CBOE10 = #{record.cboe10,jdbcType=INTEGER},
      </if>
      <if test="record.cboe21 != null">
        CBOE21 = #{record.cboe21,jdbcType=VARCHAR},
      </if>
      <if test="record.cboe09 != null">
        CBOE09 = #{record.cboe09,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.standardprice != null">
        Standardprice = #{record.standardprice,jdbcType=DOUBLE},
      </if>
      <if test="record.thisprice != null">
        thisprice = #{record.thisprice,jdbcType=DOUBLE},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `CBOE`
    set CBOE01 = #{record.cboe01,jdbcType=INTEGER},
      CBOE02 = #{record.cboe02,jdbcType=TIMESTAMP},
      CBOE03 = #{record.cboe03,jdbcType=INTEGER},
      CBOE04 = #{record.cboe04,jdbcType=TIMESTAMP},
      CBOE05 = #{record.cboe05,jdbcType=INTEGER},
      CBOE06 = #{record.cboe06,jdbcType=INTEGER},
      CBOE07 = #{record.cboe07,jdbcType=VARCHAR},
      CBOE08 = #{record.cboe08,jdbcType=TIMESTAMP},
      CBOE10 = #{record.cboe10,jdbcType=INTEGER},
      CBOE21 = #{record.cboe21,jdbcType=VARCHAR},
      CBOE09 = #{record.cboe09,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      Standardprice = #{record.standardprice,jdbcType=DOUBLE},
      thisprice = #{record.thisprice,jdbcType=DOUBLE},
      money = #{record.money,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.system.domain.Cboe">
    update `CBOE`
    <set>
      <if test="cboe02 != null">
        CBOE02 = #{cboe02,jdbcType=TIMESTAMP},
      </if>
      <if test="cboe03 != null">
        CBOE03 = #{cboe03,jdbcType=INTEGER},
      </if>
      <if test="cboe04 != null">
        CBOE04 = #{cboe04,jdbcType=TIMESTAMP},
      </if>
      <if test="cboe05 != null">
        CBOE05 = #{cboe05,jdbcType=INTEGER},
      </if>
      <if test="cboe06 != null">
        CBOE06 = #{cboe06,jdbcType=INTEGER},
      </if>
      <if test="cboe07 != null">
        CBOE07 = #{cboe07,jdbcType=VARCHAR},
      </if>
      <if test="cboe08 != null">
        CBOE08 = #{cboe08,jdbcType=TIMESTAMP},
      </if>
      <if test="cboe10 != null">
        CBOE10 = #{cboe10,jdbcType=INTEGER},
      </if>
      <if test="cboe21 != null">
        CBOE21 = #{cboe21,jdbcType=VARCHAR},
      </if>
      <if test="cboe09 != null">
        CBOE09 = #{cboe09,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="standardprice != null">
        Standardprice = #{standardprice,jdbcType=DOUBLE},
      </if>
      <if test="thisprice != null">
        thisprice = #{thisprice,jdbcType=DOUBLE},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
    </set>
    where CBOE01 = #{cboe01,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.system.domain.Cboe">
    update `CBOE`
    set CBOE02 = #{cboe02,jdbcType=TIMESTAMP},
      CBOE03 = #{cboe03,jdbcType=INTEGER},
      CBOE04 = #{cboe04,jdbcType=TIMESTAMP},
      CBOE05 = #{cboe05,jdbcType=INTEGER},
      CBOE06 = #{cboe06,jdbcType=INTEGER},
      CBOE07 = #{cboe07,jdbcType=VARCHAR},
      CBOE08 = #{cboe08,jdbcType=TIMESTAMP},
      CBOE10 = #{cboe10,jdbcType=INTEGER},
      CBOE21 = #{cboe21,jdbcType=VARCHAR},
      CBOE09 = #{cboe09,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      Standardprice = #{standardprice,jdbcType=DOUBLE},
      thisprice = #{thisprice,jdbcType=DOUBLE},
      money = #{money,jdbcType=DOUBLE}
    where CBOE01 = #{cboe01,jdbcType=INTEGER}
  </update>



  <select id="selectSwJsTaskGoodsRelLists" resultType="com.ruoyi.system.domain.vo.CboeVo">
    SELECT DISTINCT
      a.CBOE07,a.CBOE08,b.CBCA08
         ,c.nick_name as caua15,a.CBOE01,a.CBOE02,a.CBOE01 as id
    from
      CBOE a
        LEFT JOIN
      CBCA b
      on
        a.CBOE09=b.CBCA01
        LEFT JOIN
      sys_user c
      on
        c.user_id=a.CBOE10
where a.CBOE06=0
    <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
      and date_format(a.CBOE08,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
    </if>
    <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
      and date_format(a.CBOE08,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
    </if>
    <if test="startTime != null and startTime != &quot;&quot;">and a.CBOE08 <![CDATA[>=]]> #{startTime}</if>
    <if test="endTime != null and endTime != &quot;&quot;">and a.CBOE08 <![CDATA[<=]]>#{endTime}</if>

    <if test="cboe07 != null "> and a.cboe07 = #{cboe07}</if>
    <if test="id != null "> and a.cboe01 = #{id}</if>
    order by a.CBOE02 desc


  </select>
  <select id="selectSwJsTaskGoodsRelListss" resultType="com.ruoyi.system.domain.vo.CbofVo">
    SELECT
      a.CBOE07,a.CBOE08,c.CBCA08,d.nick_name as caua15,f.CALA08,e.CBPB12,e.CBPB08,
      b.CBOF09,b.CBOF13
    FROM
      CBOE a
        left join
      CBOF b
      ON
        a.CBOE01=b.CBOE01
        left join
      CBCA c
      ON
        c.CBCA01=a.CBOE09
        LEFT JOIN
      sys_user d
      ON
        d.user_id=a.CBOE10
        LEFT JOIN
      CBPB e
      ON
        e.CBPB01=b.CBOF08
        LEFT JOIN
      CALA f
      ON
        f.CALA01=e.CBPB10
    where a.CBOE01 = #{cboe01,jdbcType=INTEGER}

  </select>
    <select id="saleOderDetail" resultType="com.ruoyi.system.domain.vo.CbofVo">
      SELECT
        a.CBOE07,a.CBOE08,c.CBCA08,d.CAUA15,f.CALA08,e.CBPB12,e.CBPB08,
        b.CBOF09,b.CBOF13
      FROM
        CBOE a
          left join
        CBOF b
        ON
          a.CBOE01=b.CBOE01
          left join
        CBCA c
        ON
          c.CBCA01=a.CBOE09
          LEFT JOIN
        CAUA d
        ON
          d.CAUA01=a.CBOE10
          LEFT JOIN
        CBPB e
        ON
          e.CBPB01=b.CBOF08
          LEFT JOIN
        CALA f
        ON
          f.CALA01=e.CBPB10
      where a.CBOE01 = #{orderId}
    </select>

</mapper>
