<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CbpcMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.Cbpc">
    <id column="CBPC01" jdbcType="INTEGER" property="cbpc01" />
    <result column="CBPC02" jdbcType="TIMESTAMP" property="cbpc02" />
    <result column="CBPC03" jdbcType="INTEGER" property="cbpc03" />
    <result column="CBPC04" jdbcType="TIMESTAMP" property="cbpc04" />
    <result column="CBPC05" jdbcType="INTEGER" property="cbpc05" />
    <result column="CBPC06" jdbcType="INTEGER" property="cbpc06" />
    <result column="CBPC07" jdbcType="VARCHAR" property="cbpc07" />
    <result column="CBPC08" jdbcType="TIMESTAMP" property="cbpc08" />
    <result column="CBPC09" jdbcType="INTEGER" property="cbpc09" />
    <result column="CBPC10" jdbcType="INTEGER" property="cbpc10" />
    <result column="CBPC11" jdbcType="INTEGER" property="cbpc11" />
    <result column="CBPC12" jdbcType="INTEGER" property="cbpc12" />
    <result column="CBPC13" jdbcType="TIMESTAMP" property="cbpc13" />
    <result column="CBPC14" jdbcType="INTEGER" property="cbpc14" />
    <result column="CBPC15" jdbcType="TIMESTAMP" property="cbpc15" />
    <result column="CBPC16" jdbcType="INTEGER" property="cbpc16" />
    <result column="CBPC17" jdbcType="VARCHAR" property="cbpc17" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CBPC01, CBPC02, CBPC03, CBPC04, CBPC05, CBPC06, CBPC07, CBPC08, CBPC09, CBPC10, CBPC11,
    CBPC12, CBPC13, CBPC14, CBPC15, CBPC16, CBPC17, user_id
  </sql>
  <select id="selectByExample" parameterType="com.ruoyi.system.domain.CbpcCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `CBPC`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `CBPC`
    where CBPC01 = #{cbpc01,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `CBPC`
    where CBPC01 = #{cbpc01,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ruoyi.system.domain.CbpcCriteria">
    delete from `CBPC`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ruoyi.system.domain.Cbpc">
    insert into `CBPC` (CBPC01, CBPC02, CBPC03,
      CBPC04, CBPC05, CBPC06,
      CBPC07, CBPC08, CBPC09,
      CBPC10, CBPC11, CBPC12,
      CBPC13, CBPC14, CBPC15,
      CBPC16, CBPC17, user_id
      )
    values (#{cbpc01,jdbcType=INTEGER}, #{cbpc02,jdbcType=TIMESTAMP}, #{cbpc03,jdbcType=INTEGER},
      #{cbpc04,jdbcType=TIMESTAMP}, #{cbpc05,jdbcType=INTEGER}, #{cbpc06,jdbcType=INTEGER},
      #{cbpc07,jdbcType=VARCHAR}, #{cbpc08,jdbcType=TIMESTAMP}, #{cbpc09,jdbcType=INTEGER},
      #{cbpc10,jdbcType=INTEGER}, #{cbpc11,jdbcType=INTEGER}, #{cbpc12,jdbcType=INTEGER},
      #{cbpc13,jdbcType=TIMESTAMP}, #{cbpc14,jdbcType=INTEGER}, #{cbpc15,jdbcType=TIMESTAMP},
      #{cbpc16,jdbcType=INTEGER}, #{cbpc17,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.system.domain.Cbpc">
    insert into `CBPC`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cbpc01 != null">
        CBPC01,
      </if>
      <if test="cbpc02 != null">
        CBPC02,
      </if>
      <if test="cbpc03 != null">
        CBPC03,
      </if>
      <if test="cbpc04 != null">
        CBPC04,
      </if>
      <if test="cbpc05 != null">
        CBPC05,
      </if>
      <if test="cbpc06 != null">
        CBPC06,
      </if>
      <if test="cbpc07 != null">
        CBPC07,
      </if>
      <if test="cbpc08 != null">
        CBPC08,
      </if>
      <if test="cbpc09 != null">
        CBPC09,
      </if>
      <if test="cbpc10 != null">
        CBPC10,
      </if>
      <if test="cbpc11 != null">
        CBPC11,
      </if>
      <if test="cbpc12 != null">
        CBPC12,
      </if>
      <if test="cbpc13 != null">
        CBPC13,
      </if>
      <if test="cbpc14 != null">
        CBPC14,
      </if>
      <if test="cbpc15 != null">
        CBPC15,
      </if>
      <if test="cbpc16 != null">
        CBPC16,
      </if>
      <if test="cbpc17 != null">
        CBPC17,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cbpc01 != null">
        #{cbpc01,jdbcType=INTEGER},
      </if>
      <if test="cbpc02 != null">
        #{cbpc02,jdbcType=TIMESTAMP},
      </if>
      <if test="cbpc03 != null">
        #{cbpc03,jdbcType=INTEGER},
      </if>
      <if test="cbpc04 != null">
        #{cbpc04,jdbcType=TIMESTAMP},
      </if>
      <if test="cbpc05 != null">
        #{cbpc05,jdbcType=INTEGER},
      </if>
      <if test="cbpc06 != null">
        #{cbpc06,jdbcType=INTEGER},
      </if>
      <if test="cbpc07 != null">
        #{cbpc07,jdbcType=VARCHAR},
      </if>
      <if test="cbpc08 != null">
        #{cbpc08,jdbcType=TIMESTAMP},
      </if>
      <if test="cbpc09 != null">
        #{cbpc09,jdbcType=INTEGER},
      </if>
      <if test="cbpc10 != null">
        #{cbpc10,jdbcType=INTEGER},
      </if>
      <if test="cbpc11 != null">
        #{cbpc11,jdbcType=INTEGER},
      </if>
      <if test="cbpc12 != null">
        #{cbpc12,jdbcType=INTEGER},
      </if>
      <if test="cbpc13 != null">
        #{cbpc13,jdbcType=TIMESTAMP},
      </if>
      <if test="cbpc14 != null">
        #{cbpc14,jdbcType=INTEGER},
      </if>
      <if test="cbpc15 != null">
        #{cbpc15,jdbcType=TIMESTAMP},
      </if>
      <if test="cbpc16 != null">
        #{cbpc16,jdbcType=INTEGER},
      </if>
      <if test="cbpc17 != null">
        #{cbpc17,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ruoyi.system.domain.CbpcCriteria" resultType="java.lang.Long">
    select count(*) from `CBPC`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `CBPC`
    <set>
      <if test="record.cbpc01 != null">
        CBPC01 = #{record.cbpc01,jdbcType=INTEGER},
      </if>
      <if test="record.cbpc02 != null">
        CBPC02 = #{record.cbpc02,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cbpc03 != null">
        CBPC03 = #{record.cbpc03,jdbcType=INTEGER},
      </if>
      <if test="record.cbpc04 != null">
        CBPC04 = #{record.cbpc04,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cbpc05 != null">
        CBPC05 = #{record.cbpc05,jdbcType=INTEGER},
      </if>
      <if test="record.cbpc06 != null">
        CBPC06 = #{record.cbpc06,jdbcType=INTEGER},
      </if>
      <if test="record.cbpc07 != null">
        CBPC07 = #{record.cbpc07,jdbcType=VARCHAR},
      </if>
      <if test="record.cbpc08 != null">
        CBPC08 = #{record.cbpc08,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cbpc09 != null">
        CBPC09 = #{record.cbpc09,jdbcType=INTEGER},
      </if>
      <if test="record.cbpc10 != null">
        CBPC10 = #{record.cbpc10,jdbcType=INTEGER},
      </if>
      <if test="record.cbpc11 != null">
        CBPC11 = #{record.cbpc11,jdbcType=INTEGER},
      </if>
      <if test="record.cbpc12 != null">
        CBPC12 = #{record.cbpc12,jdbcType=INTEGER},
      </if>
      <if test="record.cbpc13 != null">
        CBPC13 = #{record.cbpc13,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cbpc14 != null">
        CBPC14 = #{record.cbpc14,jdbcType=INTEGER},
      </if>
      <if test="record.cbpc15 != null">
        CBPC15 = #{record.cbpc15,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cbpc16 != null">
        CBPC16 = #{record.cbpc16,jdbcType=INTEGER},
      </if>
      <if test="record.cbpc17 != null">
        CBPC17 = #{record.cbpc17,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `CBPC`
    set CBPC01 = #{record.cbpc01,jdbcType=INTEGER},
      CBPC02 = #{record.cbpc02,jdbcType=TIMESTAMP},
      CBPC03 = #{record.cbpc03,jdbcType=INTEGER},
      CBPC04 = #{record.cbpc04,jdbcType=TIMESTAMP},
      CBPC05 = #{record.cbpc05,jdbcType=INTEGER},
      CBPC06 = #{record.cbpc06,jdbcType=INTEGER},
      CBPC07 = #{record.cbpc07,jdbcType=VARCHAR},
      CBPC08 = #{record.cbpc08,jdbcType=TIMESTAMP},
      CBPC09 = #{record.cbpc09,jdbcType=INTEGER},
      CBPC10 = #{record.cbpc10,jdbcType=INTEGER},
      CBPC11 = #{record.cbpc11,jdbcType=INTEGER},
      CBPC12 = #{record.cbpc12,jdbcType=INTEGER},
      CBPC13 = #{record.cbpc13,jdbcType=TIMESTAMP},
      CBPC14 = #{record.cbpc14,jdbcType=INTEGER},
      CBPC15 = #{record.cbpc15,jdbcType=TIMESTAMP},
      CBPC16 = #{record.cbpc16,jdbcType=INTEGER},
      CBPC17 = #{record.cbpc17,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.system.domain.Cbpc">
    update `CBPC`
    <set>
      <if test="cbpc02 != null">
        CBPC02 = #{cbpc02,jdbcType=TIMESTAMP},
      </if>
      <if test="cbpc03 != null">
        CBPC03 = #{cbpc03,jdbcType=INTEGER},
      </if>
      <if test="cbpc04 != null">
        CBPC04 = #{cbpc04,jdbcType=TIMESTAMP},
      </if>
      <if test="cbpc05 != null">
        CBPC05 = #{cbpc05,jdbcType=INTEGER},
      </if>
      <if test="cbpc06 != null">
        CBPC06 = #{cbpc06,jdbcType=INTEGER},
      </if>
      <if test="cbpc07 != null">
        CBPC07 = #{cbpc07,jdbcType=VARCHAR},
      </if>
      <if test="cbpc08 != null">
        CBPC08 = #{cbpc08,jdbcType=TIMESTAMP},
      </if>
      <if test="cbpc09 != null">
        CBPC09 = #{cbpc09,jdbcType=INTEGER},
      </if>
      <if test="cbpc10 != null">
        CBPC10 = #{cbpc10,jdbcType=INTEGER},
      </if>
      <if test="cbpc11 != null">
        CBPC11 = #{cbpc11,jdbcType=INTEGER},
      </if>
      <if test="cbpc12 != null">
        CBPC12 = #{cbpc12,jdbcType=INTEGER},
      </if>
      <if test="cbpc13 != null">
        CBPC13 = #{cbpc13,jdbcType=TIMESTAMP},
      </if>
      <if test="cbpc14 != null">
        CBPC14 = #{cbpc14,jdbcType=INTEGER},
      </if>
      <if test="cbpc15 != null">
        CBPC15 = #{cbpc15,jdbcType=TIMESTAMP},
      </if>
      <if test="cbpc16 != null">
        CBPC16 = #{cbpc16,jdbcType=INTEGER},
      </if>
      <if test="cbpc17 != null">
        CBPC17 = #{cbpc17,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where CBPC01 = #{cbpc01,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.system.domain.Cbpc">
    update `CBPC`
    set CBPC02 = #{cbpc02,jdbcType=TIMESTAMP},
      CBPC03 = #{cbpc03,jdbcType=INTEGER},
      CBPC04 = #{cbpc04,jdbcType=TIMESTAMP},
      CBPC05 = #{cbpc05,jdbcType=INTEGER},
      CBPC06 = #{cbpc06,jdbcType=INTEGER},
      CBPC07 = #{cbpc07,jdbcType=VARCHAR},
      CBPC08 = #{cbpc08,jdbcType=TIMESTAMP},
      CBPC09 = #{cbpc09,jdbcType=INTEGER},
      CBPC10 = #{cbpc10,jdbcType=INTEGER},
      CBPC11 = #{cbpc11,jdbcType=INTEGER},
      CBPC12 = #{cbpc12,jdbcType=INTEGER},
      CBPC13 = #{cbpc13,jdbcType=TIMESTAMP},
      CBPC14 = #{cbpc14,jdbcType=INTEGER},
      CBPC15 = #{cbpc15,jdbcType=TIMESTAMP},
      CBPC16 = #{cbpc16,jdbcType=INTEGER},
      CBPC17 = #{cbpc17,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER}
    where CBPC01 = #{cbpc01,jdbcType=INTEGER}
  </update>

</mapper>
