<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CbseMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.Cbse">
    <id column="CBSE01" jdbcType="INTEGER" property="cbse01" />
    <result column="CBSE02" jdbcType="TIMESTAMP" property="cbse02" />
    <result column="CBSE03" jdbcType="INTEGER" property="cbse03" />
    <result column="CBSE04" jdbcType="TIMESTAMP" property="cbse04" />
    <result column="CBSE05" jdbcType="INTEGER" property="cbse05" />
    <result column="CBSE06" jdbcType="INTEGER" property="cbse06" />
    <result column="CBSE07" jdbcType="VARCHAR" property="cbse07" />
    <result column="CBSE08" jdbcType="TIMESTAMP" property="cbse08" />
    <result column="CBSE09" jdbcType="INTEGER" property="cbse09" />
    <result column="CBSE10" jdbcType="INTEGER" property="cbse10" />
    <result column="CBSE11" jdbcType="INTEGER" property="cbse11" />
    <result column="CBSE12" jdbcType="INTEGER" property="cbse12" />
    <result column="CBSE13" jdbcType="TIMESTAMP" property="cbse13" />
    <result column="CBSE14" jdbcType="INTEGER" property="cbse14" />
    <result column="CBSE15" jdbcType="TIMESTAMP" property="cbse15" />
    <result column="CBSE16" jdbcType="INTEGER" property="cbse16" />
    <result column="CBSE17" jdbcType="VARCHAR" property="cbse17" />
    <result column="CBSE18" jdbcType="INTEGER" property="cbse18" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="change_type" jdbcType="INTEGER" property="changeType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CBSE01, CBSE02, CBSE03, CBSE04, CBSE05, CBSE06, CBSE07, CBSE08, CBSE09, CBSE10, CBSE11,
    CBSE12, CBSE13, CBSE14, CBSE15, CBSE16, CBSE17, CBSE18, user_id, change_type
  </sql>
  <select id="selectByExample" parameterType="com.ruoyi.system.domain.CbseCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `CBSE`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `CBSE`
    where CBSE01 = #{cbse01,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `CBSE`
    where CBSE01 = #{cbse01,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ruoyi.system.domain.CbseCriteria">
    delete from `CBSE`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ruoyi.system.domain.Cbse">
    insert into `CBSE` (CBSE01, CBSE02, CBSE03,
      CBSE04, CBSE05, CBSE06,
      CBSE07, CBSE08, CBSE09,
      CBSE10, CBSE11, CBSE12,
      CBSE13, CBSE14, CBSE15,
      CBSE16, CBSE17, CBSE18,
      user_id, change_type)
    values (#{cbse01,jdbcType=INTEGER}, #{cbse02,jdbcType=TIMESTAMP}, #{cbse03,jdbcType=INTEGER},
      #{cbse04,jdbcType=TIMESTAMP}, #{cbse05,jdbcType=INTEGER}, #{cbse06,jdbcType=INTEGER},
      #{cbse07,jdbcType=VARCHAR}, #{cbse08,jdbcType=TIMESTAMP}, #{cbse09,jdbcType=INTEGER},
      #{cbse10,jdbcType=INTEGER}, #{cbse11,jdbcType=INTEGER}, #{cbse12,jdbcType=INTEGER},
      #{cbse13,jdbcType=TIMESTAMP}, #{cbse14,jdbcType=INTEGER}, #{cbse15,jdbcType=TIMESTAMP},
      #{cbse16,jdbcType=INTEGER}, #{cbse17,jdbcType=VARCHAR}, #{cbse18,jdbcType=INTEGER},
      #{userId,jdbcType=INTEGER}, #{changeType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.system.domain.Cbse">
    insert into `CBSE`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cbse01 != null">
        CBSE01,
      </if>
      <if test="cbse02 != null">
        CBSE02,
      </if>
      <if test="cbse03 != null">
        CBSE03,
      </if>
      <if test="cbse04 != null">
        CBSE04,
      </if>
      <if test="cbse05 != null">
        CBSE05,
      </if>
      <if test="cbse06 != null">
        CBSE06,
      </if>
      <if test="cbse07 != null">
        CBSE07,
      </if>
      <if test="cbse08 != null">
        CBSE08,
      </if>
      <if test="cbse09 != null">
        CBSE09,
      </if>
      <if test="cbse10 != null">
        CBSE10,
      </if>
      <if test="cbse11 != null">
        CBSE11,
      </if>
      <if test="cbse12 != null">
        CBSE12,
      </if>
      <if test="cbse13 != null">
        CBSE13,
      </if>
      <if test="cbse14 != null">
        CBSE14,
      </if>
      <if test="cbse15 != null">
        CBSE15,
      </if>
      <if test="cbse16 != null">
        CBSE16,
      </if>
      <if test="cbse17 != null">
        CBSE17,
      </if>
      <if test="cbse18 != null">
        CBSE18,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="changeType != null">
        change_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cbse01 != null">
        #{cbse01,jdbcType=INTEGER},
      </if>
      <if test="cbse02 != null">
        #{cbse02,jdbcType=TIMESTAMP},
      </if>
      <if test="cbse03 != null">
        #{cbse03,jdbcType=INTEGER},
      </if>
      <if test="cbse04 != null">
        #{cbse04,jdbcType=TIMESTAMP},
      </if>
      <if test="cbse05 != null">
        #{cbse05,jdbcType=INTEGER},
      </if>
      <if test="cbse06 != null">
        #{cbse06,jdbcType=INTEGER},
      </if>
      <if test="cbse07 != null">
        #{cbse07,jdbcType=VARCHAR},
      </if>
      <if test="cbse08 != null">
        #{cbse08,jdbcType=TIMESTAMP},
      </if>
      <if test="cbse09 != null">
        #{cbse09,jdbcType=INTEGER},
      </if>
      <if test="cbse10 != null">
        #{cbse10,jdbcType=INTEGER},
      </if>
      <if test="cbse11 != null">
        #{cbse11,jdbcType=INTEGER},
      </if>
      <if test="cbse12 != null">
        #{cbse12,jdbcType=INTEGER},
      </if>
      <if test="cbse13 != null">
        #{cbse13,jdbcType=TIMESTAMP},
      </if>
      <if test="cbse14 != null">
        #{cbse14,jdbcType=INTEGER},
      </if>
      <if test="cbse15 != null">
        #{cbse15,jdbcType=TIMESTAMP},
      </if>
      <if test="cbse16 != null">
        #{cbse16,jdbcType=INTEGER},
      </if>
      <if test="cbse17 != null">
        #{cbse17,jdbcType=VARCHAR},
      </if>
      <if test="cbse18 != null">
        #{cbse18,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="changeType != null">
        #{changeType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ruoyi.system.domain.CbseCriteria" resultType="java.lang.Long">
    select count(*) from `CBSE`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
    <update id="updateByExampleSelective" parameterType="map">
    update `CBSE`
    <set>
      <if test="record.cbse01 != null">
        CBSE01 = #{record.cbse01,jdbcType=INTEGER},
      </if>
      <if test="record.cbse02 != null">
        CBSE02 = #{record.cbse02,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cbse03 != null">
        CBSE03 = #{record.cbse03,jdbcType=INTEGER},
      </if>
      <if test="record.cbse04 != null">
        CBSE04 = #{record.cbse04,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cbse05 != null">
        CBSE05 = #{record.cbse05,jdbcType=INTEGER},
      </if>
      <if test="record.cbse06 != null">
        CBSE06 = #{record.cbse06,jdbcType=INTEGER},
      </if>
      <if test="record.cbse07 != null">
        CBSE07 = #{record.cbse07,jdbcType=VARCHAR},
      </if>
      <if test="record.cbse08 != null">
        CBSE08 = #{record.cbse08,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cbse09 != null">
        CBSE09 = #{record.cbse09,jdbcType=INTEGER},
      </if>
      <if test="record.cbse10 != null">
        CBSE10 = #{record.cbse10,jdbcType=INTEGER},
      </if>
      <if test="record.cbse11 != null">
        CBSE11 = #{record.cbse11,jdbcType=INTEGER},
      </if>
      <if test="record.cbse12 != null">
        CBSE12 = #{record.cbse12,jdbcType=INTEGER},
      </if>
      <if test="record.cbse13 != null">
        CBSE13 = #{record.cbse13,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cbse14 != null">
        CBSE14 = #{record.cbse14,jdbcType=INTEGER},
      </if>
      <if test="record.cbse15 != null">
        CBSE15 = #{record.cbse15,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cbse16 != null">
        CBSE16 = #{record.cbse16,jdbcType=INTEGER},
      </if>
      <if test="record.cbse17 != null">
        CBSE17 = #{record.cbse17,jdbcType=VARCHAR},
      </if>
      <if test="record.cbse18 != null">
        CBSE18 = #{record.cbse18,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.changeType != null">
        change_type = #{record.changeType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `CBSE`
    set CBSE01 = #{record.cbse01,jdbcType=INTEGER},
      CBSE02 = #{record.cbse02,jdbcType=TIMESTAMP},
      CBSE03 = #{record.cbse03,jdbcType=INTEGER},
      CBSE04 = #{record.cbse04,jdbcType=TIMESTAMP},
      CBSE05 = #{record.cbse05,jdbcType=INTEGER},
      CBSE06 = #{record.cbse06,jdbcType=INTEGER},
      CBSE07 = #{record.cbse07,jdbcType=VARCHAR},
      CBSE08 = #{record.cbse08,jdbcType=TIMESTAMP},
      CBSE09 = #{record.cbse09,jdbcType=INTEGER},
      CBSE10 = #{record.cbse10,jdbcType=INTEGER},
      CBSE11 = #{record.cbse11,jdbcType=INTEGER},
      CBSE12 = #{record.cbse12,jdbcType=INTEGER},
      CBSE13 = #{record.cbse13,jdbcType=TIMESTAMP},
      CBSE14 = #{record.cbse14,jdbcType=INTEGER},
      CBSE15 = #{record.cbse15,jdbcType=TIMESTAMP},
      CBSE16 = #{record.cbse16,jdbcType=INTEGER},
      CBSE17 = #{record.cbse17,jdbcType=VARCHAR},
      CBSE18 = #{record.cbse18,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      change_type = #{record.changeType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.system.domain.Cbse">
    update `CBSE`
    <set>
      <if test="cbse02 != null">
        CBSE02 = #{cbse02,jdbcType=TIMESTAMP},
      </if>
      <if test="cbse03 != null">
        CBSE03 = #{cbse03,jdbcType=INTEGER},
      </if>
      <if test="cbse04 != null">
        CBSE04 = #{cbse04,jdbcType=TIMESTAMP},
      </if>
      <if test="cbse05 != null">
        CBSE05 = #{cbse05,jdbcType=INTEGER},
      </if>
      <if test="cbse06 != null">
        CBSE06 = #{cbse06,jdbcType=INTEGER},
      </if>
      <if test="cbse07 != null">
        CBSE07 = #{cbse07,jdbcType=VARCHAR},
      </if>
      <if test="cbse08 != null">
        CBSE08 = #{cbse08,jdbcType=TIMESTAMP},
      </if>
      <if test="cbse09 != null">
        CBSE09 = #{cbse09,jdbcType=INTEGER},
      </if>
      <if test="cbse10 != null">
        CBSE10 = #{cbse10,jdbcType=INTEGER},
      </if>
      <if test="cbse11 != null">
        CBSE11 = #{cbse11,jdbcType=INTEGER},
      </if>
      <if test="cbse12 != null">
        CBSE12 = #{cbse12,jdbcType=INTEGER},
      </if>
      <if test="cbse13 != null">
        CBSE13 = #{cbse13,jdbcType=TIMESTAMP},
      </if>
      <if test="cbse14 != null">
        CBSE14 = #{cbse14,jdbcType=INTEGER},
      </if>
      <if test="cbse15 != null">
        CBSE15 = #{cbse15,jdbcType=TIMESTAMP},
      </if>
      <if test="cbse16 != null">
        CBSE16 = #{cbse16,jdbcType=INTEGER},
      </if>
      <if test="cbse17 != null">
        CBSE17 = #{cbse17,jdbcType=VARCHAR},
      </if>
      <if test="cbse18 != null">
        CBSE18 = #{cbse18,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="changeType != null">
        change_type = #{changeType,jdbcType=INTEGER},
      </if>
    </set>
    where CBSE01 = #{cbse01,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.system.domain.Cbse">
    update `CBSE`
    set CBSE02 = #{cbse02,jdbcType=TIMESTAMP},
      CBSE03 = #{cbse03,jdbcType=INTEGER},
      CBSE04 = #{cbse04,jdbcType=TIMESTAMP},
      CBSE05 = #{cbse05,jdbcType=INTEGER},
      CBSE06 = #{cbse06,jdbcType=INTEGER},
      CBSE07 = #{cbse07,jdbcType=VARCHAR},
      CBSE08 = #{cbse08,jdbcType=TIMESTAMP},
      CBSE09 = #{cbse09,jdbcType=INTEGER},
      CBSE10 = #{cbse10,jdbcType=INTEGER},
      CBSE11 = #{cbse11,jdbcType=INTEGER},
      CBSE12 = #{cbse12,jdbcType=INTEGER},
      CBSE13 = #{cbse13,jdbcType=TIMESTAMP},
      CBSE14 = #{cbse14,jdbcType=INTEGER},
      CBSE15 = #{cbse15,jdbcType=TIMESTAMP},
      CBSE16 = #{cbse16,jdbcType=INTEGER},
      CBSE17 = #{cbse17,jdbcType=VARCHAR},
      CBSE18 = #{cbse18,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      change_type = #{changeType,jdbcType=INTEGER}
    where CBSE01 = #{cbse01,jdbcType=INTEGER}
  </update>

  <select id="selectSwJsTaskGoodsRelLists" resultType="com.ruoyi.system.domain.vo.CbseVo">
    SELECT
      a.CBSE07,a.CBSE08,b.CBCA08,c.CBWA09,d.CALA08,a.CBSE18,a.CBSE11,a.CBSE01,a.CBSE11
    from
      CBSE a
        LEFT JOIN
      CBCA b
      on
        a.CBSE09=b.CBCA01
        LEFT JOIN
      CBWA c
      on
        c.CBWA01=a.CBSE10
        LEFT JOIN
      CALA d
      on
        d.CALA01=a.CBSE16
            where a.CBSE06=0
    <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
      and date_format(a.CBSE08,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
    </if>
    <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
      and date_format(a.CBSE08,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
    </if>
    <if test="cbwa09 != null "> and c.CBWA09 = #{cbwa09}</if>
    <if test="cbse07 != null "> and a.cbse07 = #{cbse07}</if>
    <if test="cbca08 != null "> and b.cbca08 = #{cbca08}</if>
    <if test="cbse11 != null "> and  a.CBSE11 = #{cbse11}</if>



  </select>
    <select id="selectSwJsTaskGoodsRelListss" resultType="com.ruoyi.system.domain.vo.CbsesVo">
      SELECT
        a.CBSE07,a.CBSE08,b.CBCA08,c.CBWA09,d.CALA08,a.CBSE18,
        i.CBSA08,e.CBSF16,g.CALA08,f.CBPB12,f.CBPB08,e.CBSF09,e.CBSF09,f.CBPB15
        e.CBSF11,e.CBSF12,e.CBSF13,h.CBSG09,l.CBLA09,a.CBSE01,e.CBSF08
      from
        CBSE a
          LEFT JOIN
        CBCA b
        on
          a.CBSE09=b.CBCA01
          LEFT JOIN
        CBWA c
        on
          c.CBWA01=a.CBSE10
          LEFT JOIN
        CALA d
        on
          d.CALA01=a.CBSE16
          LEFT JOIN
        CBSF e
        on
          a.CBSE01=e.CBSE01
          LEFT JOIN
        CBPB f
        ON
          f.CBPB01=e.CBSF08
          LEFT JOIN
        CALA g
        ON
          g.CALA01=f.CBPB10
          LEFT JOIN
        CBSG h
        ON
          h.CBSE01=a.CBSE01
          LEFT JOIN
        CBSA i
        ON
          i.CBSA01=e.CBSF15
          LEFT JOIN
        CBLA l
        ON
          l.CBLA01=h.CBSG10
where
      <if test="cbse01 != null ">  a.CBSE01 = #{cbse01}</if>
      <if test="cbwa09 != null "> and c.cbwa09 = #{cbwa09}</if>
      <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
        and date_format(a.CBSE08,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
      </if>
      <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
        and date_format(a.CBSE08,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
      </if>

</select>

</mapper>
