<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.GsAfterSalesMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.GsAfterSales">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="sale_order_no" jdbcType="VARCHAR" property="saleOrderNo" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="suplier_id" jdbcType="INTEGER" property="suplierId" />
    <result column="answer_msg" jdbcType="VARCHAR" property="answerMsg" />
    <result column="process" jdbcType="VARCHAR" property="process" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_time, update_time, create_by, update_by, delete_flag, customer_id, sale_order_no, 
    goods_id, question, sn, suplier_id, answer_msg, `process`
  </sql>
  <select id="selectByExample" parameterType="com.ruoyi.system.domain.GsAfterSalesCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from `gs_after_sales`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `gs_after_sales`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `gs_after_sales`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ruoyi.system.domain.GsAfterSalesCriteria">
    delete from `gs_after_sales`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ruoyi.system.domain.GsAfterSales">
    insert into `gs_after_sales` (id, create_time, update_time, 
      create_by, update_by, delete_flag, 
      customer_id, sale_order_no, goods_id, 
      question, sn, suplier_id, 
      answer_msg, `process`)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT}, #{deleteFlag,jdbcType=TINYINT}, 
      #{customerId,jdbcType=INTEGER}, #{saleOrderNo,jdbcType=VARCHAR}, #{goodsId,jdbcType=INTEGER}, 
      #{question,jdbcType=VARCHAR}, #{sn,jdbcType=VARCHAR}, #{suplierId,jdbcType=INTEGER}, 
      #{answerMsg,jdbcType=VARCHAR}, #{process,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ruoyi.system.domain.GsAfterSales">
    insert into `gs_after_sales`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="saleOrderNo != null">
        sale_order_no,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="question != null">
        question,
      </if>
      <if test="sn != null">
        sn,
      </if>
      <if test="suplierId != null">
        suplier_id,
      </if>
      <if test="answerMsg != null">
        answer_msg,
      </if>
      <if test="process != null">
        `process`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="saleOrderNo != null">
        #{saleOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="question != null">
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="sn != null">
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="suplierId != null">
        #{suplierId,jdbcType=INTEGER},
      </if>
      <if test="answerMsg != null">
        #{answerMsg,jdbcType=VARCHAR},
      </if>
      <if test="process != null">
        #{process,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ruoyi.system.domain.GsAfterSalesCriteria" resultType="java.lang.Long">
    select count(*) from `gs_after_sales`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update `gs_after_sales`
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=BIGINT},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=BIGINT},
      </if>
      <if test="record.deleteFlag != null">
        delete_flag = #{record.deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.saleOrderNo != null">
        sale_order_no = #{record.saleOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.question != null">
        question = #{record.question,jdbcType=VARCHAR},
      </if>
      <if test="record.sn != null">
        sn = #{record.sn,jdbcType=VARCHAR},
      </if>
      <if test="record.suplierId != null">
        suplier_id = #{record.suplierId,jdbcType=INTEGER},
      </if>
      <if test="record.answerMsg != null">
        answer_msg = #{record.answerMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.process != null">
        `process` = #{record.process,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update `gs_after_sales`
    set id = #{record.id,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=BIGINT},
      update_by = #{record.updateBy,jdbcType=BIGINT},
      delete_flag = #{record.deleteFlag,jdbcType=TINYINT},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      sale_order_no = #{record.saleOrderNo,jdbcType=VARCHAR},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      question = #{record.question,jdbcType=VARCHAR},
      sn = #{record.sn,jdbcType=VARCHAR},
      suplier_id = #{record.suplierId,jdbcType=INTEGER},
      answer_msg = #{record.answerMsg,jdbcType=VARCHAR},
      `process` = #{record.process,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.system.domain.GsAfterSales">
    update `gs_after_sales`
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="saleOrderNo != null">
        sale_order_no = #{saleOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="question != null">
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="sn != null">
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="suplierId != null">
        suplier_id = #{suplierId,jdbcType=INTEGER},
      </if>
      <if test="answerMsg != null">
        answer_msg = #{answerMsg,jdbcType=VARCHAR},
      </if>
      <if test="process != null">
        `process` = #{process,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.system.domain.GsAfterSales">
    update `gs_after_sales`
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      delete_flag = #{deleteFlag,jdbcType=TINYINT},
      customer_id = #{customerId,jdbcType=INTEGER},
      sale_order_no = #{saleOrderNo,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=INTEGER},
      question = #{question,jdbcType=VARCHAR},
      sn = #{sn,jdbcType=VARCHAR},
      suplier_id = #{suplierId,jdbcType=INTEGER},
      answer_msg = #{answerMsg,jdbcType=VARCHAR},
      `process` = #{process,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>